<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Personal data</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="personalDataForm">
      <div formGroupName="user">
        <div class="row">
          <mat-form-field class="col-md-1 mb-3">
            <input matInput type="text" placeholder="Title" formControlName="title">
          </mat-form-field>
          <mat-form-field class="col-md-5 mb-3">
            <input matInput type="text" placeholder="First name" formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="col-md-6 mb-3">
            <input matInput type="text" placeholder="Last name" formControlName="lastName">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-6 mb-3">
            <input matInput type="text" placeholder="Job" formControlName="job">
          </mat-form-field>
          <mat-form-field class="col-md-6 mb-3">
            <input matInput type="text" placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="save()" [disabled]="!personalDataForm.dirty">Save</button>
      <button mat-raised-button (click)="resetForm()" [disabled]="!personalDataForm.dirty">Reset</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Change password</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="changePasswordForm">
      <div class="row">
        <mat-form-field class="col-md-6 mb-3">
          <input matInput type="password" placeholder="Old password" formControlName="oldPassword">
        </mat-form-field>
      </div>
      <div class="row" formGroupName="password">
        <mat-form-field class="col-md-6 mb-3">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-form-field class="col-md-6 mb-3">
          <input matInput type="password" placeholder="Password again" formControlName="passwordAgain">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="changePassword()">Change password</button>
    </form>

  </mat-card-content>
</mat-card>

<mat-card *ngIf="hasRole(['AUTHOR', 'REVIEWER', 'EDITOR'])">
  <mat-card-header>
    <mat-card-title><h2>Academic disciplines</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort id="academicDisciplinesTable">

        <ng-container matColumnDef="academicDisciplineId">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.academicDisciplineId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="academicDisciplineName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.academicDisciplineName}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator
                     [showFirstLastButtons]="true"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="updateAcademicDisciplines()">
        <mat-icon>add</mat-icon>
          Update
      </button>
    </div>
  </mat-card-content>
</mat-card>


