<div [ngStyle]="{'width': inputWidth}">
  <div>
    <div dropdown-click (clickOutside)="setShowDropdown($event)" (clickInside)="setShowDropdown($event)">
      <mat-form-field #field>
        <input (focus)="showDropdown = true;" matInput type="search" placeholder="{{ placeholder }}" [(ngModel)]="query" (keyup)="filter()" autocomplete="off">
        <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <ul #dropdown [hidden]="!showDropdown" class="mat-elevation-z8" [ngStyle]="{'width': inputWidth}">
      <li *ngFor="let item of filteredList" (click)="select(item)">
        {{ getDisplayProperty(item) }}
      </li>
    </ul>
  </div>
  <div class="selected form-control" [ngStyle]="{'height': selectedItemsHeight }">
    <div *ngFor="let item of selected" class="item">
      <div>
        <a (click)="remove(item)"><i class="material-icons">delete</i></a>
        <span class="displayedProperty">{{ getDisplayProperty(item) }}</span>
      </div>
    </div>
  </div>
</div>
