<div [ngStyle]="{'width': inputWidth}">
  <div>
    <div dropdown-click (clickOutside)="setShowDropdown($event)" (clickInside)="setShowDropdown($event)">
      <mat-form-field #field>
        <input matInput id="query" type="search" placeholder="{{ placeholder }}" [(ngModel)]="query" (keyup)="filter()" autocomplete="off">
        <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <ul [hidden]="!showDropdown">
      <li #dropdown class="mat-elevation-z8">
        <div *ngFor="let item of filteredList" (click)="select(item)">{{ item[property] }}</div>
      </li>
    </ul>
  </div>
  <div class="selected form-control" [ngStyle]="{'height': selectedItemsHeight }">
    <div *ngFor="let item of selected" class="item">
      <div>
        <a (click)="remove(item)"><i class="material-icons">delete</i></a>
        <span>{{ item[property] }}</span>
      </div>
    </div>
  </div>
</div>
