@import "../../../../../styles";

.selected {
  overflow-y: scroll;
  font-size: medium;
  margin-left: 2px;
  background-color: unset;
}

.selected a {
  cursor:pointer;
  font-weight:bold;
}

.selected i {
  font-size: 16pt;
}

.selected span {
  vertical-align: top;
}

ul {
  text-align: left;
  position: absolute;
  overflow-y: auto;
  padding-left: 0;
  z-index: 999;
  margin-top: -1.25em;
  max-height: 245px;
}

ul li {
  background-color: $custom-ul-li-background-color;
  cursor: pointer;
  padding: 14px 4px 14px 5px;
}

li:hover {
  background-color: $custom-ul-li-background-color-on-hover !important;
}

.item {
  margin-left: -5px;
}

a {
  color: #2780e3;
  text-decoration: none
}

a:hover, a:focus {
  color: #165ba8;
  text-decoration: underline
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.material-icons {
  color: #2780e3;
}

.material-icons:hover {
  color: #165ba8;
}

mat-form-field {
  width: 100%;
}

.displayedProperty {
  color: $my-custom-font-color;
}
