.selected {
  overflow-y: scroll;
  font-size: medium;
  margin-left: 2px;
}

.selected a {
  cursor:pointer;
  font-weight:bold;
}

.selected i {
  font-size: 16pt;
}

.selected span {
  vertical-align: top;
}

ul {
  padding-bottom: 40px;
  text-align: left;
  display: inline;
  overflow-y: scroll;
  padding-left: 0;
}
ul li {
  display: block;
  overflow-y: scroll;
  position: absolute;
  background: #fff;
  cursor: pointer;
  height: 300px;
  z-index: 100;
  margin-top: -20px;

  background-clip: padding-box;
}

li div {
  padding: 15px 4px 17px 5px;
  border: 0;
}

li div:hover {
  background-color: #f1f1f1;
}

.item {
  margin-left: -5px;
}

a {
  color: #2780e3;
  text-decoration: none
}

a:hover, a:focus {
  color: #165ba8;
  text-decoration: underline
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.material-icons {
  color: #2780e3;
}

.material-icons:hover {
  color: #165ba8;
}
