<div>
  <div [formGroup]="academicDisciplinesForm">
    <h4>You can update your academic disciplines</h4>
    <app-autocomplete-multi-select
      [items]="all"
      [property]="'name'"
      formControlName="academicDisciplines"
      [placeholder]="'Choose academic disciplines'"
      [selectedItemsHeight]="'200px'"
      [inputWidth]="'100%'">
    </app-autocomplete-multi-select>
  </div>

  <div class="d-flex justify-content-center buttons">
    <button mat-raised-button color="primary" (click)="update()">
      Update
    </button>

    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>

</div>
