<div class="filter" *ngIf="preload.submissions.length > 0">
  <div>
    <mat-form-field>
      <mat-select placeholder="Filter for conference" [(ngModel)]="selectedConference"
                  (selectionChange)="filter()">
        <mat-option *ngFor="let pair of filterConferences" [value]="pair">
          {{ pair.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="ml-3">
      <mat-select placeholder="Filter for status" [(ngModel)]="selectedStatus"
                  (selectionChange)="filter()">
        <mat-option *ngFor="let status of statuses" [value]="status">
          {{ status.status | titlecase | underscoreToSpace }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button id="createSubmissionBtn" class="md-36" mat-icon-button (click)="create()" matTooltip="Create new submission">
    <mat-icon class="md-36" aria-label="Evaluate">add_box</mat-icon>
  </button>

</div>

<div class="mat-elevation-z8 text-left" *ngIf="preload.submissions.length > 0">
  <mat-table [dataSource]="dataSource" matSort id="submissionsTable">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Creation date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.creationDate | date:'dd/MM/yyyy hh:mm' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastModifyDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last modify date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.updatedOn | date:'dd/MM/yyyy hh:mm' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="submitter">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Submitter</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.submitter.firstName + ' '  + element.submitter.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.status | titlecase | underscoreToSpace }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'justify-content-center pr-0 actionsColWidth'"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" class="ignore" [ngClass]="'actionsColWidth pr-0'">
        <button mat-icon-button (click)="confirmDelete(element.id)" *ngIf="element.canDelete" matTooltip="Delete">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="edit(element.id)" *ngIf="element.canEdit" matTooltip="Edit">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="confirmSubmit(element.id)" *ngIf="element.canSubmit" matTooltip="Submit">
          <mat-icon aria-label="Submit">present_to_all</mat-icon>
        </button>
        <button mat-icon-button (click)="evaluate(element.id)" matTooltip="Evaluate" *ngIf="element.canEvaluate">
          <mat-icon aria-label="Evaluate">check_circle</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [matRowExpand]="row" [matRowExpandTemplate]="template">
    </mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [showFirstLastButtons]="true"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

<ng-template #template let-element>
  <div class="mat-row expandedRow" [@detailExpand] style="overflow: hidden">
    <app-expand [data]="element"></app-expand>
  </div>
</ng-template>
