<div class="mat-elevation-z8" *ngIf="preload.submissions.length > 0">
  <mat-table #table [dataSource]="dataSource" matSort id="submissionsTable">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Creation date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.creationDate | date:'dd/MM/yyyy hh:mm' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastModifyDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last modify date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.lastModifyDate | date:'dd/MM/yyyy hh:mm' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="manuscriptAbstract">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Manuscript abstract</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.manuscriptAbstract}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="submitter">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Submitter</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.submitter}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" class="ignore">
        <button mat-icon-button (click)="delete(element.submissionId)" matTooltip="Delete">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [matRowExpand]="row" [matRowExpandTemplate]="template">
    </mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [showFirstLastButtons]="true"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

<ng-template #template let-element>
  <div class="mat-row" [@detailExpand] style="overflow: hidden">
    <app-expand [data]="element"></app-expand>
  </div>
</ng-template>

<div class="center">
  <file-drop headertext="Drop file here" (onFileDrop)="dropped($event)">
  </file-drop>
</div>
