@import "../../../../../styles";

.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
}

.inbox_people {
  float: left;
  overflow: hidden;
  border-right: 1px solid $custom-border-color;
}

.inbox_msg {
  border: 1px solid $custom-border-color;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}


.recent_heading {
  width: 35%;
}

.srch_bar {
  display: inline-block;
}

.headind_srch {
  padding: 10px 0 8px 0;
  overflow: hidden;
  border-bottom: 1px solid $custom-border-color;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid $custom-border-color;
  border-width: 0 0 1px 0;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  overflow-wrap: break-word;
  color: #989898;
  margin: auto
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid $custom-border-color;
  margin: 0;
  padding: 18px 16px 10px;
}

.active_chat{ background:#ebebeb;}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.received_msg, .incoming_msg {
  display: flex;
  width: fit-content;
  max-width: 75%;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
}

.sent_msg {
  margin-right: 8px;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: white;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

.msg_send_btn mat-icon {
  position: absolute;
  left: 21%;
  top: 5px;
}

.messagesContainer  {
  width: 950px;
}

.userSelect mat-option {
  padding: 0 5px !important;
}

.userSelectOption {
  padding: 0 5px !important;
}

.searchAuthorInput {
  color: $my-custom-font-color;
  outline: none;
}

.notSeenMessage {
  background-color: $custom-not-seen-message-color;
}
