<div class="container messagesContainer">
  <h3 class=" text-center">Messaging</h3>
  <div class="messaging">
    <div class="inbox_msg d-flex">
      <div class="inbox_people col-4 pl-0 pr-0">
        <div class="headind_srch d-flex align-items-center">
          <div class="recent_heading">
            <h6 class="mb-0 ml-2">Recent</h6>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input
                class="w-100 searchAuthorInput pl-1"
                type="text"
                placeholder="Search author"
                aria-label="Number"
                [formControl]="searchAuthor"
                matInput
                [matAutocomplete]="auto">
              <mat-autocomplete class="userSelect" #auto="matAutocomplete" (optionSelected)="changeUserInputHandler($event)">
                <mat-option class="userSelectOption" *ngFor="let option of filteredOptions | async"
                            [value]="getFullName(option.firstName, option.lastName)" [id]="option.id.toString()">
                  {{getFullName(option.firstName, option.lastName)}}
                </mat-option>
              </mat-autocomplete>

            </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div [ngClass]="getUserMessageStyle(userId)" *ngFor="let userId of getUsersFromMessages()" (click)="changeUser(userId)">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>{{getFullNameByUserId(userId)}} <span class="chat_date">{{getLatestMessageDateByUserId(userId) | date:'dd MMM'}}</span></h5>
                <p>{{getLatestMessageByUserId(userId)}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs col-8">
        <div class="msg_history" #messageHistory>
          <div *ngFor="let message of messages" [ngClass]="message.incoming ? 'incoming_msg' : 'outgoing_msg'">
            <div *ngIf="message.incoming" class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>

            <div class="received_msg mt-1 mb-1 overflow-hidden" *ngIf="message.incoming">
              <div class="received_withd_msg float-left">
                <p class="chat_message">{{message.message}}</p>
                <span class="time_date text-left">{{message.sentDate | date:'dd MMM - HH:mm:ss'}}</span></div>
            </div>
            <div class="outgoing_msg mt-1 mb-1 overflow-hidden" *ngIf="!message.incoming">
              <div class="sent_msg float-right mr-1">
                <p class="chat_message">{{message.message}}</p>
                <span class="time_date text-right">{{message.sentDate | date:'dd MMM - HH:mm:ss'}}</span> </div>
            </div>
          </div>
        </div>
        <div class="type_msg" *ngIf="selectedAuthor">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="actualMessage" (keyup.enter)="sendMessage()" maxlength="200"/>
            <button mat-icon-button class="msg_send_btn" type="button">
              <mat-icon (click)="sendMessage()">send</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
