.input {
  width: 100%;
}

button {
  width: 70%;
  display: block;
  margin: 23px auto 10px auto;
}

.login-title {
  text-align: center;
}

.login-card {
  max-width: 550px;
  width: 27%;
  min-width: 400px;
  margin: 55px auto;
}

