<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title><h1>Login</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="login()" [formGroup]="loginForm">

      <mat-form-field class="input">
        <input matInput type="text" placeholder="Username" formControlName="username">
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card-content>
</mat-card>
