<form [formGroup]="changePasswordForm">
  <div class="row">
    <mat-form-field class="col-md-6 mb-3">
      <input matInput type="text" placeholder="Username" formControlName="username">
    </mat-form-field>
  </div>
  <div class="row" formGroupName="password">
    <mat-form-field class="col-md-6 mb-3">
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-form-field class="col-md-6 mb-3">
      <input matInput type="password" placeholder="Password again" formControlName="passwordAgain">
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="changePassword()">Change password</button>
</form>
