.mat-table {
  overflow-y: auto;
  max-height: 300px;
}

.mat-header-row {
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: inherit;
}

.container-fluid {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

#keyWord {
  margin: 20px 0 20px;
}

.downloadWidth {
  flex: 0 0 80px !important;
}

.manuscriptAbstractParagraph {
  font-size: 16px;
}

.expandedRow {
  background-color: red !important;
}
