<div class="sidenav-area">
  <mat-toolbar color="primary">
    <button class="bigIconButton" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h3 id="currentPage">{{currentPage}}</h3>
    <span class="fill-space"></span>
    <button mat-icon-button class="mt-1 mr-4 bigIconButton" id="messages-button" (click)="showMessages()">
      <mat-icon>message</mat-icon>
    </button>
    <button mat-icon-button class="bigIconButton" id="logout-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="mat-elevation-z8" #snav [mode]="'side'" [fixedInViewport]="true" [fixedTopGap]="64">
      <mat-nav-list class="menuItems">
        <a mat-list-item *ngFor="let menuItem of menuItems" routerLink="{{ '/' + menuItem.path }}" ><mat-icon color="primary" class="menu-icon">{{menuItem.icon}}</mat-icon>{{ menuItem.label }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidenav-content container-fluid text-center">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
