.input {
  width: 100%;
}

button {
  width: 70%;
  display: block;
  margin: 23px auto 10px auto;
}

.login-title {
  text-align: center;
}

mat-card-content {
  max-width: 500px;
}

.login-card {
  max-width: 500px;
  margin: 100px auto;
}

