mat-form-field {
  width: 100%;
}

.form-group {
  margin-bottom: 0;
}

button {
  width: 70%;
  display: block;
  margin: 23px auto 10px auto;
}

.registration-card {
  max-width: 550px;
  width: 27%;
  min-width: 400px;
  margin: 55px auto;
}

#regBtn {
  margin-top: 50px;
}





