<mat-card class="registration-card" *ngIf="!result?.successMessage">
  <mat-card-header>
    <mat-card-title><h1>Registration</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registrationForm">
      <div formGroupName="user">
        <div class="form-group">
          <mat-form-field id="title">
            <input matInput type="text" placeholder="Title" formControlName="title">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field id="firstName">
            <input matInput type="text" placeholder="First name" formControlName="firstName">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field id="lastName">
            <input matInput type="text" placeholder="Last name" formControlName="lastName">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field id="job">
            <input matInput type="text" placeholder="Job" formControlName="job">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field id="email">
            <input matInput type="text" placeholder="Enter email" formControlName="email">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field id="username">
            <input matInput type="text" placeholder="Username" formControlName="username">
          </mat-form-field>
        </div>
      </div>

      <div formGroupName="password">
        <mat-form-field id="password">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>

        <mat-form-field id="passwordAgain">
          <input matInput type="password" placeholder="Password again" formControlName="passwordAgain">
        </mat-form-field>
      </div>

      <app-autocomplete-multi-select
        [items]="academicDisciplines"
        [property]="'academicDisciplineName'"
        [selected]="selected"
        formControlName="academicDisciplines"
        [placeholder]="'Choose academic disciplines'"
        [inputWidth]="'100%'">
      </app-autocomplete-multi-select>

      <button mat-raised-button color="primary" type="submit" (click)="register()" id="regBtn">
        Register
      </button>
      <div *ngIf="result?.exceptionMessage">
        {{ result.exceptionMessage }}
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div [hidden]="!result?.successMessage">
  Success registration!
  You can login in <a routerLink="/login">this</a> link
</div>
